/*module spacer*/
.module-spacer-small {
  height: 1rem;
}
.module-spacer-medium {
  height: 2rem;
}

body {
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
}

.inner {
  padding: 0 2rem;
  margin: 0 auto;
}

.header-title h1 {
  color: #000;
  text-align: center;
  font-size: 2rem;
  background-color: rgba(43, 187, 216, 0.2);
  width: 60%;
  margin: 3rem auto 1rem auto;
  border-radius: 2rem;
}

/*header*/
.l-header {
  transition: top 0.4s ease;
  background-color: #fff;
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 100;
}

.l-header .l-header-inner {
  margin: 0 auto;
}

.l-header .l-product-logo {
  padding: 0 1rem;
  display: none;
  margin: 0;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  vertical-align: top;
}

.l-header.fixed-nav {
  position: fixed;
  top: 0;
  width: 100%;
}

.l-header .nav-toggle-button {
  background: 0 0;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 10px;
}

.l-header .nav-toggle-button img.menu-bar {
  display: block;
}

.l-header .nav-toggle-button img.menu-close {
  display: none;
}

.l-header__nav-top {
  right: -100%;
}

.l-header .l-header__nav-top .l-product-logo {
  display: none;
}

.l-header__nav-top ul {
  display: none;
}

.l-header__nav-top li {
  color: #4c4c4c;
  display: inline-block;
  margin: 0 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.nav-open .l-header__nav-top {
  transition: all 0.8s ease;
  background: #fff;
  display: block;
  height: 100%;
  right: 0%;
  position: fixed;
  top: 0;
  max-width: 25rem;
  width: 80%;
  z-index: 1100;
}

.nav-open .l-header__nav-top .l-product-logo {
  display: inline-block;
  height: 40px;
  width: 100%;
  background-color: #41b6e6;
  position: relative;
}

.nav-open .l-header__nav-top .l-product-logo img {
  height: 40px;
  position: absolute;
  top: 0;
}

.nav-open .l-header .nav-toggle-button {
  z-index: 1200;
}

.nav-open .l-header .nav-toggle-button .menu-bars {
  display: none;
}

.nav-open .l-header .nav-toggle-button .menu-close {
  display: block;
}

.nav-open .l-header .l-header__nav-top ul {
  display: block;
}

.nav-open .l-header .l-header__nav-top li {
  display: block;
  margin: 0 0 3rem 0;
}

.nav-open .black-bg {
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  height: 100vh;
  width: 100vh;
  z-index: 1000;
}

/*first view*/
.p-grid__view-first {
  position: relative;
  height: 100vh;
  width: 100%;
}

.p-grid__view-first img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.p-grid__view-first div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
  width: auto;
  font-size: 32px;
  color: #000;
  text-align: center;
}

.p-btn-round {
  display: block;
  width: 230px;
  padding: 10px;
  color: #fff;
  background-color: #ffb549;
  border: 1px solid #fff;
  border-radius: 30px;
  box-shadow: 0 0 3px black;
  margin: 0 auto;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  transition: all 0.5s;
}

.p-btn-round:hover {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  color: #ffb549;
  background-color: #fff;
  border: 1px solid #ffb549;
  transition: all 0.5s;
}

.p-btn-round:active {
  transform: translate(0, 3px);
}

/*about-me*/
.about-me__title h1 {
  text-align: center;
}

.about-me__content {
  text-align: center;
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
}

.about-me__image {
  width: 100%;
}

.about-me__image img {
  width: 50%;
}

.about-me__body {
  width: 100%;
  text-align: left;
}

.app {
  text-align: center;
}

.app-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.app-image {
  width: 90%;
}

.app-image img {
  width: 100%;
}

.app-text {
  width: 100%;
}

.app p {
  margin: 0;
}

/*service*/

.c-section {
  background-color: #ff585d;
}

.c-section-wrapin {
  text-align: center;
  padding: 1rem 2rem;
  margin: 2rem auto;
}

.p-headline__top {
  color: #fff;
  margin: 0;
}

.p-grid__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.p-grid__list-item-floated {
  box-sizing: border-box;
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  margin-bottom: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

/*carousel*/

.p-grid__list-item {
  text-align: center;
  box-sizing: border-box;
  padding: 1rem;
  margin-bottom: 2rem;
  width: 100%;
}

/*footer*/
footer p {
  background-color: rgba(43, 187, 216, 0.2);
  text-align: center;
  padding: 1rem;
  margin: 2rem 0 0 0;
  font-weight: bold;
}

@media screen and (min-width: 1024px) {
  .c-section-wrapin {
    max-width: 1024px;
  }
  .p-grid__list-item-floated {
    width: calc(33.3333% - 1rem);
  }

  /*header*/
  .l-header .nav-toggle-button {
    display: none;
  }

  .l-header {
    background-color: #fff;
  }

  .l-header .l-product-logo {
    display: block;
    float: left;
  }

  .l-header .l-product-logo a {
    display: inline-block;
    height: 64px;
    width: 128px;
  }

  .l-header .l-product-logo a img {
    height: auto;
    width: 128px;
  }

  .l-header__nav-top {
    display: block;
  }

  .l-header__nav-top ul {
    display: flex;
    font-weight: bold;
    color: #000;
    justify-content: center;
  }

  .about-me__image {
    width: 25%;
  }

  .about-me__image img {
    width: 100%;
  }

  .about-me__body {
    width: calc(75% - 2rem);
    text-align: left;
    padding-left: 2rem;
  }

  .inner {
    max-width: 1024px;
  }

  .app-image {
    width: 50%;
  }

  .app-image img {
    width: 100%;
  }

  .app-text {
    width: 50%;
  }

  /*carousel*/
  .p-grid__list-item {
    width: 33.3333%;
  }

  /*footer*/
  .l-footer .l-footer-inner .logo-area {
    float: left;
  }

  .l-footer .product-logo {
    margin: 0;
    padding: 0;
  }

  .l-footer .l-footer-inner .sitemap {
    height: 200px;
  }

  .footer-links {
    height: 157px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .p-accordion {
    display: inline-block;
  }

  .p-accordion .p-accordion__items {
    height: 100%;
  }

  .p-accordion .p-accordion__items2 {
    height: 100%;
  }

  .p-accordion label::after {
    display: none;
  }
}
